.auth-layout{

display:flex;

min-height:100vh;

}

.auth-left{

width:45%;

background:linear-gradient(135deg,#D62828,#8B0000);

display:flex;

justify-content:center;

align-items:center;

color:white;

padding:60px;

}

.overlay{

max-width:420px;

}

.overlay h1{

font-size:52px;

margin-bottom:25px;

}

.overlay h2{

font-size:34px;

margin-bottom:25px;

}

.overlay p{

font-size:19px;

line-height:1.9;

}

.auth-right{

width:55%;

display:flex;

justify-content:center;

align-items:center;

background:#F8FAFC;

padding:60px;

}

.auth-container{

width:480px;

background:white;

padding:45px;

border-radius:22px;

box-shadow:var(--shadow);

}

.auth-container h2{

font-size:36px;

margin-bottom:12px;

}

.auth-container>p{

margin-bottom:35px;

color:#64748B;

}