# ===========================
# Node
# ===========================

node_modules/
npm-debug.log*
package-lock.json

# ===========================
# Python
# ===========================

venv/
.venv/

__pycache__/
*.py[cod]

# ===========================
# Environment
# ===========================

.env
.env.local
.env.*

# ===========================
# Logs
# ===========================

logs/
*.log

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# OS
# ===========================

.DS_Store
Thumbs.db

# ===========================
# Build
# ===========================

dist/
build/

# ===========================
# Python cache
# ===========================

.pytest_cache/
.mypy_cache/

# ===========================
# AI Model Files
# ===========================

*.joblib