.register-page{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#F8FAFC;

padding:40px;

}

.register-card{

width:520px;

background:white;

padding:45px;

border-radius:20px;

box-shadow:var(--shadow);

}

.register-card h1{

font-size:34px;

margin-bottom:15px;

color:#0F172A;

}

.register-card p{

margin-bottom:35px;

color:#64748B;

line-height:1.8;

}

.register-btn{

margin-top:20px;

width:100%;

padding:16px;

background:#D62828;

color:white;

border:none;

border-radius:12px;

font-size:17px;

font-weight:600;

cursor:pointer;

}