.register-btn{

margin-top:20px;

width:100%;

padding:16px;

background:#D62828;

color:white;

border:none;

border-radius:12px;

font-size:17px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.register-btn:hover{

background:#B91C1C;

}