.form-group{

display:flex;

flex-direction:column;

margin-bottom:22px;

}

.form-group label{

margin-bottom:10px;

font-weight:600;

color:#334155;

}

.form-group input{

padding:15px;

border:1px solid #CBD5E1;

border-radius:12px;

font-size:16px;

outline:none;

transition:.3s;

}

.form-group input:focus{

border-color:#D62828;

box-shadow:0 0 0 3px rgba(214,40,40,.12);

}

.login-btn{

width:100%;

padding:16px;

margin-top:10px;

background:#D62828;

color:white;

border:none;

border-radius:12px;

font-size:17px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.login-btn:hover{

background:#B91C1C;

}

.login-links{

margin-top:28px;

display:flex;

justify-content:space-between;

align-items:center;

}

.login-links a{

text-decoration:none;

color:#D62828;

font-weight:600;

}

.login-links button{

background:none;

border:none;

cursor:pointer;

color:#D62828;

font-weight:600;

}