.navbar{

height:80px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 7%;

background:white;

box-shadow:var(--shadow);

position:sticky;

top:0;

z-index:1000;

}

.logo{

font-size:28px;

font-weight:700;

color:var(--primary);

}

.links{

display:flex;

gap:40px;

font-size:16px;

font-weight:500;

color:var(--text);

}

.links a{

transition:.3s;

}

.links a:hover{

color:var(--primary);

}

.buttons{

display:flex;

gap:15px;

}

.login{

padding:12px 25px;

background:white;

border:2px solid var(--primary);

color:var(--primary);

border-radius:8px;

font-weight:600;

}

.register{

padding:12px 25px;

background:var(--primary);

color:white;

border-radius:8px;

font-weight:600;

transition:.3s;

}

.register:hover{

background:var(--primaryDark);

}