@media (max-width:1200px){

.hero,
.ai-showcase{

flex-direction:column;

}

.hero-content,
.hero-image,
.ai-left,
.ai-right{

width:100%;

}

.features-grid,
.steps{

grid-template-columns:repeat(2,1fr);

}

.statistics{

grid-template-columns:repeat(2,1fr);

}

.testimonial-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media (max-width:768px){

.navbar{

padding:20px;

flex-direction:column;

height:auto;

gap:20px;

}

.links{

flex-wrap:wrap;

justify-content:center;

gap:20px;

}

.hero{

padding:60px 20px;

}

.hero h1{

font-size:42px;

}

.hero-buttons{

flex-direction:column;

}

.statistics,
.features-grid,
.steps,
.testimonial-grid{

grid-template-columns:1fr;

}

.ai-showcase{

padding:70px 20px;

}

.emergency-banner{

flex-direction:column;

text-align:center;

gap:30px;

}

}